ion-toolbar {
  --background: white;
  color: black;
}

ion-content {
  --background: white;
  color: black;
}

ion-title{
  margin-left: -90px;
  font-size: 24px;
}
ion-item{
  --background:white;
}
ion-icon{
  color:green;
}
#texto{
  color:black;
  font-weight: bold;
}
