#barra1 {
  --background: white;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#sena {
  font-size: 20px;
}

#barra2 {
  --background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#Noticias {
  color: green;
  font-size: 20px;
}

ion-menu-button {
  color: black;
}

ion-card-content {
  width: 60%;
  padding: 0px;
  margin-left: 150px;
}

ion-img {
  width: 500px;
  height: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

ion-card-header {
  width: 30%;
  padding: 10px;
}

ion-card {
  background: white;
  color: blue;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  display: flex;
  align-items: center;
}

#title {
  color: blue;
  font-size: 20px;
}

#boton1,
#boton2,
#boton3 {
  font-size: 13px;
  font-weight: bold;
  --background: green;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
}

#boton1:hover,
#boton2:hover,
#boton3:hover {
  --background: darkgreen;
}
